<p id="notice"><%= notice %></p>

<div class="col-md-12">

  <div class="col-md-2">
    <p>
      <div class='pull-left padding'>
        <% if @newsville.image_url.present? %>
          <td><%= image_tag @newsville.image_url, class: "img-rounded" %></td>
        <% else %>
          <td><%= image_tag 'nia.png', class: "img-rounded" %></td>
        <% end %>
      </div>
    </p>
  </div>

  <div class="col-md-10">
    <p>
      <strong>View:</strong>
      <%= link_to "Original Story", @newsville.title_url, target: "_blank" %>
    </p>

    <p>
      <strong>Headline:</strong>
      <%= @newsville.title %>
    </p>

    <p>
      <strong>Story Summary:</strong>
      <%= @newsville.body %>
    </p>

    <p>
      <strong>Posted:</strong>
      <%= time_ago_in_words(@newsville.created_at) %> ago
    </p>

    <%= link_to 'Back to Newsvilles', newsvilles_path, class: 'btn btn-info btn-xs' %> <hr>
  </div>
</div>

<%= render @newsville.comments %>

<div class="col-md-12 form form-group">
  <%= simple_form_for [@newsville, Comment.new] do |comment| %>
    <%= comment.input :body, label: false, placeholder: 'Share your opinion.', class: "form-control" %>
    <%= comment.submit "Add Comment", class: "btn btn-danger" %>
  <% end %>
</div>

<hr>
